@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;700;800";

// color variables

$branding-primary: #1862B2;
$branding-primary-hover: #115196;
$branding-dark-blue: #103166;
$branding-secondary: #707070;
$branding-tertiary: #C0C0C0;
$branding-quartiary: #ECECEC;
$branding-quinary: #F2F7FF;

$light-gray-blue: #F2F6FA;
$light-gray-red: #F8F8F8;
$light-gray: #E6E6F1;

$title-text-color: #3A3939;
$text-color: #4C4C4C;
$light-text-color: #6D6E76;

// font styles

$banner-title: bold 56px 'Poppins', sans-serif;
$internal-title-14: 600 14px/24px 'Poppins', sans-serif;
$internal-title-18-semibold: 500 18px/32px 'Poppins', sans-serif;
$internal-title-20-bold: 700 20px/32px 'Poppins', sans-serif;
$internal-title-20-semibold: 500 20px/32px 'Poppins', sans-serif;
$internal-title-24: 600 24px/29px 'Poppins', sans-serif;
$internal-title-26: 600 26px/31px 'Poppins', sans-serif;
$internal-title-28: 600 28px/34px 'Poppins', sans-serif;
$internal-title-24-lh45: 600 24px/45px 'Poppins', sans-serif;
$internal-title-32-bold: 600 32px/38px 'Poppins', sans-serif;
$internal-title-36-bold: 600 36px/42px 'Poppins', sans-serif;
$internal-title-32: 400 32px/38px 'Poppins', sans-serif;
$internal-title-40: 600 40px/45px 'Poppins', sans-serif;
$internal-title-40-bold: 700 40px/45px 'Poppins', sans-serif;
$main-text-14: 14px/24px 'Inter', sans-serif;
$main-text-16: 16px/24px 'Inter', sans-serif;
$main-text-16-semibold: 600 16px/24px 'Inter', sans-serif;
$main-text-18: 400 18px/24px 'Inter', sans-serif;
$main-text-18-semibold: 600 18px/24px 'Inter', sans-serif;
$main-text-20: 400 20px/26px 'Inter', sans-serif;
$main-text-26: 400 26px/34px 'Inter', sans-serif;

// montserratFonts

$montserrat-14-semibold: 600 14px/22px 'Montserrat', sans-serif;
$montserrat-16: 400 16px/24px 'Montserrat', sans-serif;
$montserrat-16-semibold: 600 16px/24px 'Montserrat', sans-serif;
$montserrat-18: 400 18px/26px 'Montserrat', sans-serif;
$montserrat-18-semi-bold: 600 18px/26px 'Montserrat', sans-serif;
$montserrat-20: 400 20px/28px 'Montserrat', sans-serif;
$montserrat-20-semi-bold: 600 20px/28px 'Montserrat', sans-serif;
$montserrat-20-bold: 700 20px/28px 'Montserrat', sans-serif;
$montserrat-24: 400 24px/32px 'Montserrat', sans-serif;
$montserrat-24-semi-bold: 600 24px/32px 'Montserrat', sans-serif;
$montserrat-24-bold: 700 24px/32px 'Montserrat', sans-serif;
$montserrat-28: 400 28px/36px 'Montserrat', sans-serif;
$montserrat-28-semi-bold: 600 28px/36px 'Montserrat', sans-serif;
$montserrat-30: 700 30px/38px 'Montserrat', sans-serif;
$montserrat-31-semi-bold: 600 31px/39px 'Montserrat', sans-serif;
$montserrat-32: 600 32px/40px 'Montserrat', sans-serif;
$montserrat-36: 700 36px/44px 'Montserrat', sans-serif;
$montserrat-36-semi-bold: 600 36px/44px 'Montserrat', sans-serif;
$montserrat-40-semi-bold: 600 40px/48px 'Montserrat', sans-serif;
$montserrat-44-bold: 700 44px/52px 'Montserrat', sans-serif;
$montserrat-40: 700 40px/48px 'Montserrat', sans-serif;
$montserrat-56-bold: 700 56px/64px 'Montserrat', sans-serif;


// color styles
$color-brand-brandingprimary: #1862b2;
$color-brand-brandingsecondary: #707070;
$color-brand-brandingtertiary: #c0c0c0;
$color-brand-brandingquartiary: #ececec;
$color-brand-brandingquinary: #242424;
$color-brand-brandingsextary: #406591;
$color-brand-brandingeightary: #27466d;
$color-brand-brandingninety: #152743;
$color-neutral-neutrallow: #3a3939;
$color-neutral-neutrallowmedium: #d2d2d2;
$color-neutral-neutralhighpure: #ffffff;
$color-neutral-neutralhightransparent: rgba(0, 0, 0, 0.85);
$color-neutral-neutrallowhigh: #7b8896;
$color-neutral-neutrallowhighsecundary: #a2afae;
$color-neutral-neutrallowtransparent: rgba(0, 0, 0, 0.65);
$color-suport-suportprimary: #0fbfbd;
$color-feedback-dangerpure: #e80f29;
$color-feedback-dangermedium: #f35046;
$color-feedback-warningpure: #ffd84f;
$color-feedback-successpure: #16b667;
$color-feedback-sucesshover: #3de581;
$color-feedback-successlight: #d1ffde;

// font styles
$typography-title-dstitle-xxxl-bold-font-size: 34px;
$typography-title-dstitle-xxxl-bold-text-decoration: none;
$typography-title-dstitle-xxxl-bold-font-family: Poppins;
$typography-title-dstitle-xxxl-bold-font-weight: 700;
$typography-title-dstitle-xxxl-bold-font-style: normal;
$typography-title-dstitle-xxxl-bold-font-stretch: normal;
$typography-title-dstitle-xxxl-bold-letter-spacing: 0;
$typography-title-dstitle-xxxl-bold-line-height: 38px;
$typography-title-dstitle-xxxl-bold-paragraph-indent: 0;
$typography-title-dstitle-xxxl-bold-paragraph-spacing: 0;
$typography-title-dstitle-xxxl-bold-text-case: none;
$typography-title-dstitle-xxl-bold-font-size: 32px;
$typography-title-dstitle-xxl-bold-text-decoration: none;
$typography-title-dstitle-xxl-bold-font-family: Poppins;
$typography-title-dstitle-xxl-bold-font-weight: 700;
$typography-title-dstitle-xxl-bold-font-style: normal;
$typography-title-dstitle-xxl-bold-font-stretch: normal;
$typography-title-dstitle-xxl-bold-letter-spacing: 0;
$typography-title-dstitle-xxl-bold-line-height: 38px;
$typography-title-dstitle-xxl-bold-paragraph-indent: 0;
$typography-title-dstitle-xxl-bold-paragraph-spacing: 0;
$typography-title-dstitle-xxl-bold-text-case: none;
$typography-title-dstitle-xxl-semi-bold-font-size: 32px;
$typography-title-dstitle-xxl-semi-bold-text-decoration: none;
$typography-title-dstitle-xxl-semi-bold-font-family: Poppins;
$typography-title-dstitle-xxl-semi-bold-font-weight: 600;
$typography-title-dstitle-xxl-semi-bold-font-style: normal;
$typography-title-dstitle-xxl-semi-bold-font-stretch: normal;
$typography-title-dstitle-xxl-semi-bold-letter-spacing: 0;
$typography-title-dstitle-xxl-semi-bold-line-height: 38px;
$typography-title-dstitle-xxl-semi-bold-paragraph-indent: 0;
$typography-title-dstitle-xxl-semi-bold-paragraph-spacing: 0;
$typography-title-dstitle-xxl-semi-bold-text-case: none;
$typography-title-dstitle-xxl-font-size: 32px;
$typography-title-dstitle-xxl-text-decoration: none;
$typography-title-dstitle-xxl-font-family: Poppins;
$typography-title-dstitle-xxl-font-weight: 400;
$typography-title-dstitle-xxl-font-style: normal;
$typography-title-dstitle-xxl-font-stretch: normal;
$typography-title-dstitle-xxl-letter-spacing: 0;
$typography-title-dstitle-xxl-line-height: 38px;
$typography-title-dstitle-xxl-paragraph-indent: 0;
$typography-title-dstitle-xxl-paragraph-spacing: 0;
$typography-title-dstitle-xxl-text-case: none;
$typography-title-dstitle-xl-font-size: 24px;
$typography-title-dstitle-xl-text-decoration: none;
$typography-title-dstitle-xl-font-family: Poppins;
$typography-title-dstitle-xl-font-weight: 600;
$typography-title-dstitle-xl-font-style: normal;
$typography-title-dstitle-xl-font-stretch: normal;
$typography-title-dstitle-xl-letter-spacing: 0;
$typography-title-dstitle-xl-line-height: 32px;
$typography-title-dstitle-xl-paragraph-indent: 0;
$typography-title-dstitle-xl-paragraph-spacing: 0;
$typography-title-dstitle-xl-text-case: none;
$typography-title-dstitle-xl-bold-font-size: 24px;
$typography-title-dstitle-xl-bold-text-decoration: none;
$typography-title-dstitle-xl-bold-font-family: Poppins;
$typography-title-dstitle-xl-bold-font-weight: 700;
$typography-title-dstitle-xl-bold-font-style: normal;
$typography-title-dstitle-xl-bold-font-stretch: normal;
$typography-title-dstitle-xl-bold-letter-spacing: 0;
$typography-title-dstitle-xl-bold-line-height: 32px;
$typography-title-dstitle-xl-bold-paragraph-indent: 0;
$typography-title-dstitle-xl-bold-paragraph-spacing: 0;
$typography-title-dstitle-xl-bold-text-case: none;
$typography-title-dstitle-lg-bold-font-size: 20px;
$typography-title-dstitle-lg-bold-text-decoration: none;
$typography-title-dstitle-lg-bold-font-family: Poppins;
$typography-title-dstitle-lg-bold-font-weight: 700;
$typography-title-dstitle-lg-bold-font-style: normal;
$typography-title-dstitle-lg-bold-font-stretch: normal;
$typography-title-dstitle-lg-bold-letter-spacing: 0;
$typography-title-dstitle-lg-bold-line-height: 32px;
$typography-title-dstitle-lg-font-size: 20px;
$typography-title-dstitle-lg-text-decoration: none;
$typography-title-dstitle-lg-font-family: Poppins;
$typography-title-dstitle-lg-font-weight: 600;
$typography-title-dstitle-lg-font-style: normal;
$typography-title-dstitle-lg-font-stretch: normal;
$typography-title-dstitle-lg-letter-spacing: 0;
$typography-title-dstitle-lg-line-height: 28px;
$typography-title-dstitle-lg-paragraph-indent: 0;
$typography-title-dstitle-lg-paragraph-spacing: 0;
$typography-title-dstitle-lg-text-case: none;
$typography-title-dstitle-sm-font-size: 16px;
$typography-title-dstitle-sm-text-decoration: none;
$typography-title-dstitle-sm-font-family: Poppins;
$typography-title-dstitle-sm-font-weight: 600;
$typography-title-dstitle-sm-font-style: normal;
$typography-title-dstitle-sm-font-stretch: normal;
$typography-title-dstitle-sm-letter-spacing: 0;
$typography-title-dstitle-sm-line-height: 24px;
$typography-title-dstitle-sm-paragraph-indent: 0;
$typography-title-dstitle-sm-paragraph-spacing: 0;
$typography-title-dstitle-sm-text-case: none;
$typography-title-dstitle-md-font-size: 18px;
$typography-title-dstitle-md-text-decoration: none;
$typography-title-dstitle-md-font-family: Poppins;
$typography-title-dstitle-md-font-weight: 600;
$typography-title-dstitle-md-font-style: normal;
$typography-title-dstitle-md-font-stretch: normal;
$typography-title-dstitle-md-letter-spacing: 0;
$typography-title-dstitle-md-line-height: 24px;
$typography-title-dstitle-md-paragraph-indent: 0;
$typography-title-dstitle-md-paragraph-spacing: 0;
$typography-title-dstitle-md-text-case: none;
$typography-title-dstitle-xsm-font-size: 14px;
$typography-title-dstitle-xsm-text-decoration: none;
$typography-title-dstitle-xsm-font-family: Poppins;
$typography-title-dstitle-xsm-font-weight: 600;
$typography-title-dstitle-xsm-font-style: normal;
$typography-title-dstitle-xsm-font-stretch: normal;
$typography-title-dstitle-xsm-letter-spacing: 0;
$typography-title-dstitle-xsm-line-height: 22px;
$typography-title-dstitle-xsm-paragraph-indent: 0;
$typography-title-dstitle-xsm-paragraph-spacing: 0;
$typography-title-dstitle-xsm-text-case: none;
$typography-paragraph-dstext-xl-semi-bold-font-size: 24px;
$typography-paragraph-dstext-xl-semi-bold-text-decoration: none;
$typography-paragraph-dstext-xl-semi-bold-font-family: Inter;
$typography-paragraph-dstext-xl-semi-bold-font-weight: 600;
$typography-paragraph-dstext-xl-semi-bold-font-style: normal;
$typography-paragraph-dstext-xl-semi-bold-font-stretch: normal;
$typography-paragraph-dstext-xl-semi-bold-letter-spacing: 0;
$typography-paragraph-dstext-xl-semi-bold-line-height: 32px;
$typography-paragraph-dstext-xl-semi-bold-paragraph-indent: 0;
$typography-paragraph-dstext-xl-semi-bold-paragraph-spacing: 0;
$typography-paragraph-dstext-xl-semi-bold-text-case: none;
$typography-paragraph-dstext-xl-font-size: 24px;
$typography-paragraph-dstext-xl-text-decoration: none;
$typography-paragraph-dstext-xl-font-family: Inter;
$typography-paragraph-dstext-xl-font-weight: 400;
$typography-paragraph-dstext-xl-font-style: normal;
$typography-paragraph-dstext-xl-font-stretch: normal;
$typography-paragraph-dstext-xl-letter-spacing: 0;
$typography-paragraph-dstext-xl-line-height: 32px;
$typography-paragraph-dstext-xl-paragraph-indent: 0;
$typography-paragraph-dstext-xl-paragraph-spacing: 0;
$typography-paragraph-dstext-xl-text-case: none;
$typography-paragraph-dstext-lg-semi-bold-font-size: 20px;
$typography-paragraph-dstext-lg-semi-bold-text-decoration: none;
$typography-paragraph-dstext-lg-semi-bold-font-family: Inter;
$typography-paragraph-dstext-lg-semi-bold-font-weight: 600;
$typography-paragraph-dstext-lg-semi-bold-font-style: normal;
$typography-paragraph-dstext-lg-semi-bold-font-stretch: normal;
$typography-paragraph-dstext-lg-semi-bold-letter-spacing: 0;
$typography-paragraph-dstext-lg-semi-bold-line-height: 28px;
$typography-paragraph-dstext-lg-semi-bold-paragraph-indent: 0;
$typography-paragraph-dstext-lg-semi-bold-paragraph-spacing: 0;
$typography-paragraph-dstext-lg-semi-bold-text-case: none;
$typography-paragraph-dstext-lg-font-size: 20px;
$typography-paragraph-dstext-lg-text-decoration: none;
$typography-paragraph-dstext-lg-font-family: Inter;
$typography-paragraph-dstext-lg-font-weight: 400;
$typography-paragraph-dstext-lg-font-style: normal;
$typography-paragraph-dstext-lg-font-stretch: normal;
$typography-paragraph-dstext-lg-letter-spacing: 0;
$typography-paragraph-dstext-lg-line-height: 28px;
$typography-paragraph-dstext-lg-paragraph-indent: 0;
$typography-paragraph-dstext-lg-paragraph-spacing: 0;
$typography-paragraph-dstext-lg-text-case: none;
$typography-paragraph-dstext-md-bold-font-size: 18px;
$typography-paragraph-dstext-md-bold-text-decoration: none;
$typography-paragraph-dstext-md-bold-font-family: Inter;
$typography-paragraph-dstext-md-bold-font-weight: 700;
$typography-paragraph-dstext-md-bold-font-style: normal;
$typography-paragraph-dstext-md-bold-font-stretch: normal;
$typography-paragraph-dstext-md-bold-letter-spacing: 0;
$typography-paragraph-dstext-md-bold-line-height: 26px;
$typography-paragraph-dstext-md-bold-paragraph-indent: 0;
$typography-paragraph-dstext-md-bold-paragraph-spacing: 0;
$typography-paragraph-dstext-md-bold-text-case: none;
$typography-paragraph-dstext-md-semi-bold-font-size: 18px;
$typography-paragraph-dstext-md-semi-bold-text-decoration: none;
$typography-paragraph-dstext-md-semi-bold-font-family: Inter;
$typography-paragraph-dstext-md-semi-bold-font-weight: 600;
$typography-paragraph-dstext-md-semi-bold-font-style: normal;
$typography-paragraph-dstext-md-semi-bold-font-stretch: normal;
$typography-paragraph-dstext-md-semi-bold-letter-spacing: 0;
$typography-paragraph-dstext-md-semi-bold-line-height: 26px;
$typography-paragraph-dstext-md-semi-bold-paragraph-indent: 0;
$typography-paragraph-dstext-md-semi-bold-paragraph-spacing: 0;
$typography-paragraph-dstext-md-semi-bold-text-case: none;
$typography-paragraph-dstext-md-font-size: 18px;
$typography-paragraph-dstext-md-text-decoration: none;
$typography-paragraph-dstext-md-font-family: Inter;
$typography-paragraph-dstext-md-font-weight: 400;
$typography-paragraph-dstext-md-font-style: normal;
$typography-paragraph-dstext-md-font-stretch: normal;
$typography-paragraph-dstext-md-letter-spacing: 0;
$typography-paragraph-dstext-md-line-height: 26px;
$typography-paragraph-dstext-md-paragraph-indent: 0;
$typography-paragraph-dstext-md-paragraph-spacing: 0;
$typography-paragraph-dstext-sm-semi-bold-font-size: 16px;
$typography-paragraph-dstext-sm-semi-bold-text-decoration: none;
$typography-paragraph-dstext-sm-semi-bold-font-family: Inter;
$typography-paragraph-dstext-sm-semi-bold-font-weight: 600;
$typography-paragraph-dstext-sm-semi-bold-font-style: normal;
$typography-paragraph-dstext-sm-semi-bold-font-stretch: normal;
$typography-paragraph-dstext-sm-semi-bold-letter-spacing: 0;
$typography-paragraph-dstext-sm-semi-bold-line-height: 24px;
$typography-paragraph-dstext-sm-semi-bold-paragraph-indent: 0;
$typography-paragraph-dstext-sm-semi-bold-paragraph-spacing: 0;
$typography-paragraph-dstext-sm-semi-bold-text-case: none;
$typography-paragraph-dstext-sm-font-size: 16px;
$typography-paragraph-dstext-sm-text-decoration: none;
$typography-paragraph-dstext-sm-font-family: Inter;
$typography-paragraph-dstext-sm-font-weight: 400;
$typography-paragraph-dstext-sm-font-style: normal;
$typography-paragraph-dstext-sm-font-stretch: normal;
$typography-paragraph-dstext-sm-letter-spacing: 0;
$typography-paragraph-dstext-sm-line-height: 24px;
$typography-paragraph-dstext-sm-paragraph-indent: 0;
$typography-paragraph-dstext-sm-paragraph-spacing: 0;
$typography-paragraph-dstext-sm-text-case: none;
$typography-paragraph-dstext-xs-semi-bold-font-size: 14px;
$typography-paragraph-dstext-xs-semi-bold-text-decoration: none;
$typography-paragraph-dstext-xs-semi-bold-font-family: Inter;
$typography-paragraph-dstext-xs-semi-bold-font-weight: 600;
$typography-paragraph-dstext-xs-semi-bold-font-style: normal;
$typography-paragraph-dstext-xs-semi-bold-font-stretch: normal;
$typography-paragraph-dstext-xs-semi-bold-letter-spacing: 0;
$typography-paragraph-dstext-xs-semi-bold-line-height: 22px;
$typography-paragraph-dstext-xs-semi-bold-paragraph-indent: 0;
$typography-paragraph-dstext-xs-semi-bold-paragraph-spacing: 0;
$typography-paragraph-dstext-xs-semi-bold-text-case: none;
$typography-paragraph-dstext-xs-font-size: 14px;
$typography-paragraph-dstext-xs-text-decoration: none;
$typography-paragraph-dstext-xs-font-family: Inter;
$typography-paragraph-dstext-xs-font-weight: 400;
$typography-paragraph-dstext-xs-font-style: normal;
$typography-paragraph-dstext-xs-font-stretch: normal;
$typography-paragraph-dstext-xs-letter-spacing: 0;
$typography-paragraph-dstext-xs-line-height: 22px;
$typography-paragraph-dstext-xs-paragraph-indent: 0;
$typography-paragraph-dstext-xs-paragraph-spacing: 0;
$typography-paragraph-dstext-xs-text-case: none;
$typography-paragraph-dstext-xxs-semi-bold-font-size: 12px;
$typography-paragraph-dstext-xxs-semi-bold-text-decoration: none;
$typography-paragraph-dstext-xxs-semi-bold-font-family: Inter;
$typography-paragraph-dstext-xxs-semi-bold-font-weight: 600;
$typography-paragraph-dstext-xxs-semi-bold-font-style: normal;
$typography-paragraph-dstext-xxs-semi-bold-font-stretch: normal;
$typography-paragraph-dstext-xxs-semi-bold-letter-spacing: 0;
$typography-paragraph-dstext-xxs-semi-bold-line-height: 20px;
$typography-paragraph-dstext-xxs-semi-bold-paragraph-indent: 0;
$typography-paragraph-dstext-xxs-semi-bold-paragraph-spacing: 0;
$typography-paragraph-dstext-xxs-semi-bold-text-case: none;
$typography-paragraph-dstext-xxs-font-size: 12px;
$typography-paragraph-dstext-xxs-text-decoration: none;
$typography-paragraph-dstext-xxs-font-family: Inter;
$typography-paragraph-dstext-xxs-font-weight: 400;
$typography-paragraph-dstext-xxs-font-style: normal;
$typography-paragraph-dstext-xxs-font-stretch: normal;
$typography-paragraph-dstext-xxs-letter-spacing: 0;
$typography-paragraph-dstext-xxs-line-height: 20px;
$typography-paragraph-dstext-xxs-paragraph-indent: 0;
$typography-paragraph-dstext-xxs-paragraph-spacing: 0;
$typography-paragraph-dstext-xxs-text-case: none;
$typography-paragraph-dstext-xxxs-special-font-size: 10px;
$typography-paragraph-dstext-xxxs-special-text-decoration: none;
$typography-paragraph-dstext-xxxs-special-font-family: Inter;
$typography-paragraph-dstext-xxxs-special-font-weight: 400;
$typography-paragraph-dstext-xxxs-special-font-style: normal;
$typography-paragraph-dstext-xxxs-special-font-stretch: normal;
$typography-paragraph-dstext-xxxs-special-letter-spacing: 0;
$typography-paragraph-dstext-xxxs-special-line-height: 16px;
$typography-paragraph-dstext-xxxs-special-paragraph-indent: 0;
$typography-paragraph-dstext-xxxs-special-paragraph-spacing: 0;
$typography-paragraph-dstext-xxxs-special-text-case: none;
$typography-display-dsdisplay-lg-bold-font-size: 56px;
$typography-display-dsdisplay-lg-bold-text-decoration: none;
$typography-display-dsdisplay-lg-bold-font-family: Poppins;
$typography-display-dsdisplay-lg-bold-font-weight: 700;
$typography-display-dsdisplay-lg-bold-font-style: normal;
$typography-display-dsdisplay-lg-bold-font-stretch: normal;
$typography-display-dsdisplay-lg-bold-letter-spacing: 0;
$typography-display-dsdisplay-lg-bold-line-height: 64px;
$typography-display-dsdisplay-lg-bold-paragraph-indent: 0;
$typography-display-dsdisplay-lg-bold-paragraph-spacing: 0;
$typography-display-dsdisplay-lg-bold-text-case: none;
$typography-display-dsdisplay-lg-semi-bold-font-size: 56px;
$typography-display-dsdisplay-lg-semi-bold-text-decoration: none;
$typography-display-dsdisplay-lg-semi-bold-font-family: Poppins;
$typography-display-dsdisplay-lg-semi-bold-font-weight: 600;
$typography-display-dsdisplay-lg-semi-bold-font-style: normal;
$typography-display-dsdisplay-lg-semi-bold-font-stretch: normal;
$typography-display-dsdisplay-lg-semi-bold-letter-spacing: 0;
$typography-display-dsdisplay-lg-semi-bold-line-height: 64px;
$typography-display-dsdisplay-lg-semi-bold-paragraph-indent: 0;
$typography-display-dsdisplay-lg-semi-bold-paragraph-spacing: 0;
$typography-display-dsdisplay-lg-semi-bold-text-case: none;
$typography-display-dsdisplay-lg-regular-font-size: 56px;
$typography-display-dsdisplay-lg-regular-text-decoration: none;
$typography-display-dsdisplay-lg-regular-font-family: Poppins;
$typography-display-dsdisplay-lg-regular-font-weight: 400;
$typography-display-dsdisplay-lg-regular-font-style: normal;
$typography-display-dsdisplay-lg-regular-font-stretch: normal;
$typography-display-dsdisplay-lg-regular-letter-spacing: 0;
$typography-display-dsdisplay-lg-regular-line-height: 64px;
$typography-display-dsdisplay-lg-regular-paragraph-indent: 0;
$typography-display-dsdisplay-lg-regular-paragraph-spacing: 0;
$typography-display-dsdisplay-lg-regular-text-case: none;
$typography-display-dsdisplay-md-bold-font-size: 48px;
$typography-display-dsdisplay-md-bold-text-decoration: none;
$typography-display-dsdisplay-md-bold-font-family: Poppins;
$typography-display-dsdisplay-md-bold-font-weight: 700;
$typography-display-dsdisplay-md-bold-font-style: normal;
$typography-display-dsdisplay-md-bold-font-stretch: normal;
$typography-display-dsdisplay-md-bold-letter-spacing: 0;
$typography-display-dsdisplay-md-bold-line-height: 56px;
$typography-display-dsdisplay-md-bold-paragraph-indent: 0;
$typography-display-dsdisplay-md-bold-paragraph-spacing: 0;
$typography-display-dsdisplay-md-bold-text-case: none;
$typography-display-dsdisplay-md-semi-bold-font-size: 48px;
$typography-display-dsdisplay-md-semi-bold-text-decoration: none;
$typography-display-dsdisplay-md-semi-bold-font-family: Poppins;
$typography-display-dsdisplay-md-semi-bold-font-weight: 600;
$typography-display-dsdisplay-md-semi-bold-font-style: normal;
$typography-display-dsdisplay-md-semi-bold-font-stretch: normal;
$typography-display-dsdisplay-md-semi-bold-letter-spacing: 0;
$typography-display-dsdisplay-md-semi-bold-line-height: 56px;
$typography-display-dsdisplay-md-semi-bold-paragraph-indent: 0;
$typography-display-dsdisplay-md-semi-bold-paragraph-spacing: 0;
$typography-display-dsdisplay-md-semi-bold-text-case: none;
$typography-display-dsdisplay-md-light-font-size: 48px;
$typography-display-dsdisplay-md-light-text-decoration: none;
$typography-display-dsdisplay-md-light-font-family: Poppins;
$typography-display-dsdisplay-md-light-font-weight: 300;
$typography-display-dsdisplay-md-light-font-style: normal;
$typography-display-dsdisplay-md-light-font-stretch: normal;
$typography-display-dsdisplay-md-light-letter-spacing: 0;
$typography-display-dsdisplay-md-light-line-height: 56px;
$typography-display-dsdisplay-md-light-paragraph-indent: 0;
$typography-display-dsdisplay-md-light-paragraph-spacing: 0;
$typography-display-dsdisplay-md-light-text-case: none;
$typography-display-dsdisplay-sm-bold-font-size: 40px;
$typography-display-dsdisplay-sm-bold-text-decoration: none;
$typography-display-dsdisplay-sm-bold-font-family: Poppins;
$typography-display-dsdisplay-sm-bold-font-weight: 700;
$typography-display-dsdisplay-sm-bold-font-style: normal;
$typography-display-dsdisplay-sm-bold-font-stretch: normal;
$typography-display-dsdisplay-sm-bold-letter-spacing: 0;
$typography-display-dsdisplay-sm-bold-line-height: 48px;
$typography-display-dsdisplay-sm-bold-paragraph-indent: 0;
$typography-display-dsdisplay-sm-bold-paragraph-spacing: 0;
$typography-display-dsdisplay-sm-bold-text-case: none;
$typography-display-dsdisplay-sm-semi-bold-font-size: 40px;
$typography-display-dsdisplay-sm-semi-bold-text-decoration: none;
$typography-display-dsdisplay-sm-semi-bold-font-family: Poppins;
$typography-display-dsdisplay-sm-semi-bold-font-weight: 600;
$typography-display-dsdisplay-sm-semi-bold-font-style: normal;
$typography-display-dsdisplay-sm-semi-bold-font-stretch: normal;
$typography-display-dsdisplay-sm-semi-bold-letter-spacing: 0;
$typography-display-dsdisplay-sm-semi-bold-line-height: 48px;
$typography-display-dsdisplay-sm-semi-bold-paragraph-indent: 0;
$typography-display-dsdisplay-sm-semi-bold-paragraph-spacing: 0;
$typography-display-dsdisplay-sm-semi-bold-text-case: none;
$typography-display-dsdisplay-sm-light-font-size: 40px;
$typography-display-dsdisplay-sm-light-text-decoration: none;
$typography-display-dsdisplay-sm-light-font-family: Poppins;
$typography-display-dsdisplay-sm-light-font-weight: 300;
$typography-display-dsdisplay-sm-light-font-style: normal;
$typography-display-dsdisplay-sm-light-font-stretch: normal;
$typography-display-dsdisplay-sm-light-letter-spacing: 0;
$typography-display-dsdisplay-sm-light-line-height: 48px;
$typography-display-dsdisplay-sm-light-paragraph-indent: 0;
$typography-display-dsdisplay-sm-light-paragraph-spacing: 0;
$typography-display-dsdisplay-sm-light-text-case: none;
$typography-emphasis-dsemphasis-sm-font-size: 16px;
$typography-emphasis-dsemphasis-sm-text-decoration: none;
$typography-emphasis-dsemphasis-sm-font-family: 'Helvetica Neue';
$typography-emphasis-dsemphasis-sm-font-weight: 500;
$typography-emphasis-dsemphasis-sm-font-style: normal;
$typography-emphasis-dsemphasis-sm-font-stretch: normal;
$typography-emphasis-dsemphasis-sm-letter-spacing: 0;
$typography-emphasis-dsemphasis-sm-line-height: 22.4px;
$typography-emphasis-dsemphasis-sm-paragraph-indent: 0;
$typography-emphasis-dsemphasis-sm-paragraph-spacing: 0;
$typography-emphasis-dsemphasis-sm-text-case: none;
$typography-emphasis-dsemphasis-md-font-size: 20px;
$typography-emphasis-dsemphasis-md-text-decoration: none;
$typography-emphasis-dsemphasis-md-font-family: 'Helvetica Neue';
$typography-emphasis-dsemphasis-md-font-weight: 500;
$typography-emphasis-dsemphasis-md-font-style: normal;
$typography-emphasis-dsemphasis-md-font-stretch: normal;
$typography-emphasis-dsemphasis-md-letter-spacing: 0;
$typography-emphasis-dsemphasis-md-line-height: 28px;
$typography-emphasis-dsemphasis-md-paragraph-indent: 0;
$typography-emphasis-dsemphasis-md-paragraph-spacing: 0;
$typography-emphasis-dsemphasis-md-text-case: none;
$typography-emphasis-dsemphasis-lg-font-size: 26px;
$typography-emphasis-dsemphasis-lg-text-decoration: none;
$typography-emphasis-dsemphasis-lg-font-family: 'Helvetica Neue';
$typography-emphasis-dsemphasis-lg-font-weight: 500;
$typography-emphasis-dsemphasis-lg-font-style: normal;
$typography-emphasis-dsemphasis-lg-font-stretch: normal;
$typography-emphasis-dsemphasis-lg-letter-spacing: 0;
$typography-emphasis-dsemphasis-lg-line-height: 36.4px;
$typography-emphasis-dsemphasis-lg-paragraph-indent: 0;
$typography-emphasis-dsemphasis-lg-paragraph-spacing: 0;
$typography-emphasis-dsemphasis-lg-text-case: none;
$typography-emphasis-dsemphasis-xl-font-size: 28px;
$typography-emphasis-dsemphasis-xl-text-decoration: none;
$typography-emphasis-dsemphasis-xl-font-family: 'Helvetica Neue';
$typography-emphasis-dsemphasis-xl-font-weight: 500;
$typography-emphasis-dsemphasis-xl-font-style: normal;
$typography-emphasis-dsemphasis-xl-font-stretch: normal;
$typography-emphasis-dsemphasis-xl-letter-spacing: 0;
$typography-emphasis-dsemphasis-xl-line-height: 39.2px;
$typography-emphasis-dsemphasis-xl-paragraph-indent: 0;
$typography-emphasis-dsemphasis-xl-paragraph-spacing: 0;
$typography-emphasis-dsemphasis-xl-text-case: none;
$typography-emphasis-dsemphasis-xxl-font-size: 34px;
$typography-emphasis-dsemphasis-xxl-text-decoration: none;
$typography-emphasis-dsemphasis-xxl-font-family: 'Helvetica Neue';
$typography-emphasis-dsemphasis-xxl-font-weight: 500;
$typography-emphasis-dsemphasis-xxl-font-style: normal;
$typography-emphasis-dsemphasis-xxl-font-stretch: normal;
$typography-emphasis-dsemphasis-xxl-letter-spacing: 0;
$typography-emphasis-dsemphasis-xxl-line-height: 47.6px;
$typography-emphasis-dsemphasis-xxl-paragraph-indent: 0;
$typography-emphasis-dsemphasis-xxl-paragraph-spacing: 0;
$typography-emphasis-dsemphasis-xxl-text-case: none;