@import '/src/styles/variables.scss';

.peopleComentsSection {
    padding: 96px 0 12px;
}

.sliderButtons {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 0px;
    right: 0;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    button{
        background-color: transparent;
    }
}

.cleanPeopleComents {
    .PeopleComentsContainer {

        >h2 {
            padding-bottom: 80px;

            strong {
                color: $color-brand-brandingprimary;
            }
        }

        .imageContainer {
            max-width: 403px;
            margin-right: 143px;

            img {
                margin: 0;
            }
        }
        .sliderComentsContainer {
            >div {
                overflow-y: unset;

                .sliderButtons {
                    bottom: -72px;
                }
            }
        }
    }
}

.PeopleComentsContainer {
    >h2 {
        text-align: center;
        padding-bottom: 96px;
        font-size: $typography-title-dstitle-xxl-font-size;
        text-decoration: $typography-title-dstitle-xxl-text-decoration;
        font-family: $typography-title-dstitle-xxl-font-family;
        font-weight: $typography-title-dstitle-xxl-font-weight;
        font-style: $typography-title-dstitle-xxl-font-style;
        font-stretch: $typography-title-dstitle-xxl-font-stretch;
        letter-spacing: $typography-title-dstitle-xxl-letter-spacing;
        line-height: $typography-title-dstitle-xxl-line-height;
    }

    >div {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        
        >div {
            width: 47%;
        }

        .imageContainer {
            position: relative;
            height: 100%;

            img {
                object-fit: contain;
                width: 100%;
                height: auto;
                margin-left: -11%;
            }
        }

        .sliderComentsContainer {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: relative;

            h2 {
                
                font-size: $typography-title-dstitle-xxl-semi-bold-font-size;
                text-decoration: $typography-title-dstitle-xxl-semi-bold-text-decoration;
                font-family: $typography-title-dstitle-xxl-semi-bold-font-family;
                font-weight: $typography-title-dstitle-xxl-semi-bold-font-weight;
                font-style: $typography-title-dstitle-xxl-semi-bold-font-style;
                font-stretch: $typography-title-dstitle-xxl-semi-bold-font-stretch;
                letter-spacing: $typography-title-dstitle-xxl-semi-bold-letter-spacing;
                line-height: $typography-title-dstitle-xxl-semi-bold-line-height;
                margin-bottom: 10px;
            }

            h3 {
                font: $internal-title-24;
                margin-bottom: 5px;
            }

            p {
                font-size: $typography-paragraph-dstext-md-font-size;
                text-decoration: $typography-paragraph-dstext-md-text-decoration;
                font-family: $typography-paragraph-dstext-md-font-family;
                font-weight: $typography-paragraph-dstext-md-font-weight;
                font-style: $typography-paragraph-dstext-md-font-style;
                font-stretch: $typography-paragraph-dstext-md-font-stretch;
                letter-spacing: $typography-paragraph-dstext-md-letter-spacing;
                line-height: $typography-paragraph-dstext-md-line-height;
                margin-top: 10px;
            }

            .personName {
                margin-top: 24px;
                font-size: $typography-title-dstitle-md-font-size;
                text-decoration: $typography-title-dstitle-md-text-decoration;
                font-family: $typography-title-dstitle-md-font-family;
                font-weight: $typography-title-dstitle-md-font-weight;
                font-style: $typography-title-dstitle-md-font-style;
                font-stretch: $typography-title-dstitle-md-font-stretch;
                letter-spacing: $typography-title-dstitle-md-letter-spacing;
                line-height: $typography-title-dstitle-md-line-height;
            }

            .comentBox {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                p {
                    text-align: start;
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    .PeopleComentsContainer {
    
        >div {
    
            .sliderComentsContainer {
    
                h2 {
                    margin-bottom: 5px;
                }
            }
        }
    }

}

@media (max-width: 992px) {

    .PeopleComentsContainer {
        >h2 {
            font-size: $typography-title-dstitle-lg-font-size;
            text-decoration: $typography-title-dstitle-lg-text-decoration;
            font-family: $typography-title-dstitle-lg-font-family;
            font-weight: 400;
            font-style: $typography-title-dstitle-lg-font-style;
            font-stretch: $typography-title-dstitle-lg-font-stretch;
            letter-spacing: $typography-title-dstitle-lg-letter-spacing;
            line-height: $typography-title-dstitle-lg-line-height;
        }
    
        >div {
            flex-direction: column;
        
            >div {
                width: 100%;
            }

            .imageContainer {
                img {
                    margin: 0;
                }
            }
    
            .sliderComentsContainer {
    
                h2 {
                    font-size: $typography-title-dstitle-xl-font-size;
                    text-decoration: $typography-title-dstitle-xl-text-decoration;
                    font-family: $typography-title-dstitle-xl-font-family;
                    font-weight: $typography-title-dstitle-xl-font-weight;
                    font-style: $typography-title-dstitle-xl-font-style;
                    font-stretch: $typography-title-dstitle-xl-font-stretch;
                    letter-spacing: $typography-title-dstitle-xl-letter-spacing;
                    line-height: $typography-title-dstitle-xl-line-height;
                    margin-bottom: 0px;
                }
    
                h3 {
                    font-size: $typography-title-dstitle-sm-font-size;
                    text-decoration: $typography-title-dstitle-sm-text-decoration;
                    font-family: $typography-title-dstitle-sm-font-family;
                    font-weight: $typography-title-dstitle-sm-font-weight;
                    font-style: $typography-title-dstitle-sm-font-style;
                    font-stretch: $typography-title-dstitle-sm-font-stretch;
                    letter-spacing: $typography-title-dstitle-sm-letter-spacing;
                    line-height: $typography-title-dstitle-sm-line-height;
                }
    
                p {
                    font-size: $typography-paragraph-dstext-sm-font-size;
                    text-decoration: $typography-paragraph-dstext-sm-text-decoration;
                    font-family: $typography-paragraph-dstext-sm-font-family;
                    font-weight: $typography-paragraph-dstext-sm-font-weight;
                    font-style: $typography-paragraph-dstext-sm-font-style;
                    font-stretch: $typography-paragraph-dstext-sm-font-stretch;
                    letter-spacing: $typography-paragraph-dstext-sm-letter-spacing;
                    line-height: $typography-paragraph-dstext-sm-line-height;
                }
    
                .personName {
                    font-size: $typography-title-dstitle-md-font-size;
                    text-decoration: $typography-title-dstitle-md-text-decoration;
                    font-family: $typography-title-dstitle-md-font-family;
                    font-weight: $typography-title-dstitle-md-font-weight;
                    font-style: $typography-title-dstitle-md-font-style;
                    font-stretch: $typography-title-dstitle-md-font-stretch;
                    letter-spacing: $typography-title-dstitle-md-letter-spacing;
                    line-height: $typography-title-dstitle-md-line-height;
                }
            }
        }
    }

    .cleanPeopleComents {
        .PeopleComentsContainer {
            .imageContainer {
                margin-right: 0;
                margin-bottom: 32px;
            }
        }
    }
}

@media (max-width: 768px) {
    .peopleComentsSection {
        padding: 48px 0;
    }

    .cleanPeopleComents {
        .PeopleComentsContainer {

            >h2 {
                padding-bottom: 48px;
            }

            .imageContainer {
                max-width: 403px;
                margin-right: 143px;
                height: auto;
                margin-right: 0;
                justify-content: center;
                display: flex;
                margin-bottom: 32px;

                img {
                    margin: 0;
                }
            }
            .sliderComentsContainer {
                >div {
                    overflow-y: unset;

                    .sliderButtons {
                        bottom: 0px;
                        gap: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .PeopleComentsContainer {

        >div {

            .sliderComentsContainer {
    
                h2 {
                    margin-bottom: 5px;
                }
            }

            .imageContainer {
                height: 280px;
                position: relative;

                img {
                    height: 100%;
                }
            }
        }
    }
}