@import '/src/styles/variables.scss';

.width100 {
    width: 100%;
}

.staticbannerSection {
    padding: 0 20px 0 20px;
}

.bannerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0px;

    .textBox {
        max-width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-right: 168px;

        h1 {
            font-size: $typography-display-dsdisplay-lg-bold-font-size;
            text-decoration: $typography-display-dsdisplay-lg-bold-text-decoration;
            font-family: $typography-display-dsdisplay-lg-bold-font-family;
            font-weight: $typography-display-dsdisplay-lg-bold-font-weight;
            font-style: $typography-display-dsdisplay-lg-bold-font-style;
            font-stretch: $typography-display-dsdisplay-lg-bold-font-stretch;
            letter-spacing: $typography-display-dsdisplay-lg-bold-letter-spacing;
            line-height: $typography-display-dsdisplay-lg-bold-line-height;
            color: $color-neutral-neutrallow;
            margin-bottom: 16px;
        }

        p {
            font-size: $typography-paragraph-dstext-md-font-size;
            text-decoration: $typography-paragraph-dstext-md-text-decoration;
            font-family: $typography-paragraph-dstext-md-font-family;
            font-weight: $typography-paragraph-dstext-md-font-weight;
            font-style: $typography-paragraph-dstext-md-font-style;
            font-stretch: $typography-paragraph-dstext-md-font-stretch;
            letter-spacing: $typography-paragraph-dstext-md-letter-spacing;
            line-height: $typography-paragraph-dstext-md-line-height;
            color: $color-neutral-neutrallow;
            margin-bottom: 40px;
        }

        .checkedContainer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            gap: 0 24px;
            margin-top: 32px;

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 7px 20px 7px 0;
                margin-bottom: 0;
                color: $color-neutral-neutrallow;
                font-size: $typography-paragraph-dstext-sm-semi-bold-font-size;
                text-decoration: $typography-paragraph-dstext-sm-semi-bold-text-decoration;
                font-family: $typography-paragraph-dstext-sm-semi-bold-font-family;
                font-weight: $typography-paragraph-dstext-sm-semi-bold-font-weight;
                font-style: $typography-paragraph-dstext-sm-semi-bold-font-style;
                font-stretch: $typography-paragraph-dstext-sm-semi-bold-font-stretch;
                letter-spacing: $typography-paragraph-dstext-sm-semi-bold-letter-spacing;
                line-height: $typography-paragraph-dstext-sm-semi-bold-line-height;
            }
        }
    }
    
    .imageBox {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}

@media (max-width:1200px) {
    .bannerContainer {
        padding: 70px 20px;

        .textBox {
            margin-right: 50px;

            h1 {
                font-size: $typography-display-dsdisplay-md-semi-bold-font-size;
                text-decoration: $typography-display-dsdisplay-md-semi-bold-text-decoration;
                font-family: $typography-display-dsdisplay-md-semi-bold-font-family;
                font-weight: $typography-display-dsdisplay-md-semi-bold-font-weight;
                font-style: $typography-display-dsdisplay-md-semi-bold-font-style;
                font-stretch: $typography-display-dsdisplay-md-semi-bold-font-stretch;
                letter-spacing: $typography-display-dsdisplay-md-semi-bold-letter-spacing;
                line-height: $typography-display-dsdisplay-md-semi-bold-line-height;
                margin-bottom: 16px;
            }
    
            p {
                font-size: $typography-paragraph-dstext-md-font-size;
                text-decoration: $typography-paragraph-dstext-md-text-decoration;
                font-family: $typography-paragraph-dstext-md-font-family;
                font-weight: $typography-paragraph-dstext-md-font-weight;
                font-style: $typography-paragraph-dstext-md-font-style;
                font-stretch: $typography-paragraph-dstext-md-font-stretch;
                letter-spacing: $typography-paragraph-dstext-md-letter-spacing;
                line-height: $typography-paragraph-dstext-md-line-height;
                margin-bottom: 40px;
            }

            .checkedContainer {
                gap: 0 16px;
                margin-top: 0px;
            }
        }

        .imageBox {
            img{
                width: 100%;
            }
                
        }
    }
}

@media (max-width: 992px) {
    

    .bannerContainer {
        padding: 70px 10px;

        .textBox {
            margin-right: 20px;

            h1 {
                font-size: $typography-display-dsdisplay-sm-semi-bold-font-size;
                text-decoration: $typography-display-dsdisplay-sm-semi-bold-text-decoration;
                font-family: $typography-display-dsdisplay-sm-semi-bold-font-family;
                font-weight: $typography-display-dsdisplay-sm-semi-bold-font-weight;
                font-style: $typography-display-dsdisplay-sm-semi-bold-font-style;
                font-stretch: $typography-display-dsdisplay-sm-semi-bold-font-stretch;
                letter-spacing: $typography-display-dsdisplay-sm-semi-bold-letter-spacing;
                line-height: $typography-display-dsdisplay-sm-semi-bold-line-height;
                margin-bottom: 16px;
            }
    
            p {
                font-size: $typography-paragraph-dstext-sm-font-size;
                text-decoration: $typography-paragraph-dstext-sm-text-decoration;
                font-family: $typography-paragraph-dstext-sm-font-family;
                font-weight: $typography-paragraph-dstext-sm-font-weight;
                font-style: $typography-paragraph-dstext-sm-font-style;
                font-stretch: $typography-paragraph-dstext-sm-font-stretch;
                letter-spacing: $typography-paragraph-dstext-sm-letter-spacing;
                line-height: $typography-paragraph-dstext-sm-line-height;
                margin-bottom: 32px;
            }
        }

        .textBox {
            max-width: 50%;
        }
    }
}

@media (max-width: 768px) {

    .bannerContainer {
        padding: 55px 24px 24px;

        .textBox {
            max-width: 50%;

            h1 {
                font-size: $typography-title-dstitle-xxl-font-size;
                text-decoration: $typography-title-dstitle-xxl-text-decoration;
                font-family: $typography-title-dstitle-xxl-font-family;
                font-weight: $typography-title-dstitle-xxl-font-weight;
                font-style: $typography-title-dstitle-xxl-font-style;
                font-stretch: $typography-title-dstitle-xxl-font-stretch;
                letter-spacing: $typography-title-dstitle-xxl-letter-spacing;
                line-height: $typography-title-dstitle-xxl-line-height;
            }

            .checkedContainer {
    
                p {
                    font-size: $typography-paragraph-dstext-xs-semi-bold-font-size;
                    text-decoration: $typography-paragraph-dstext-xs-semi-bold-text-decoration;
                    font-family: $typography-paragraph-dstext-xs-semi-bold-font-family;
                    font-weight: $typography-paragraph-dstext-xs-semi-bold-font-weight;
                    font-style: $typography-paragraph-dstext-xs-semi-bold-font-style;
                    font-stretch: $typography-paragraph-dstext-xs-semi-bold-font-stretch;
                    letter-spacing: $typography-paragraph-dstext-xs-semi-bold-letter-spacing;
                    line-height: $typography-paragraph-dstext-xs-semi-bold-line-height;
                }
            }
        }

        p {
            color: white;
        }
    }
    .staticbannerSection {
        align-items: flex-end;
        padding: 0px;
        padding-bottom: 32px;
        height: 107vh;
    }
    
    .bannerContainer {

        .textBox {
            z-index: 1;
            max-width: 100%;

            h1 {
                color: white;
            }

            p {
                
            }

            .checkedContainer {
    
                p {
                    color: white;
                    padding: 7px 5px 7px 0;
                }
            }
        }

        .imageBox {
            width: 100vw;
            position: absolute;
            max-width: unset;
            left: 0;
            top: 0;
            z-index: 0;

            img{
                max-width: unset;
                object-fit: cover;
                width: 100vw;
                height: 107vh;
                object-position: 50% 0;
            }
                
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .bannerContainer {

        .textBox {

            h1 {
                font-size: $typography-title-dstitle-xxxl-bold-font-size;
                text-decoration: $typography-title-dstitle-xxxl-bold-text-decoration;
                font-family: $typography-title-dstitle-xxxl-bold-font-family;
                font-weight: $typography-title-dstitle-xxxl-bold-font-weight;
                font-style: $typography-title-dstitle-xxxl-bold-font-style;
                font-stretch: $typography-title-dstitle-xxxl-bold-font-stretch;
                letter-spacing: $typography-title-dstitle-xxxl-bold-letter-spacing;
                line-height: $typography-title-dstitle-xxxl-bold-line-height;
            }

            p {
                color: white;
                font-size: $typography-paragraph-dstext-md-font-size;
                text-decoration: $typography-paragraph-dstext-md-text-decoration;
                font-family: $typography-paragraph-dstext-md-font-family;
                font-weight: $typography-paragraph-dstext-md-font-weight;
                font-style: $typography-paragraph-dstext-md-font-style;
                font-stretch: $typography-paragraph-dstext-md-font-stretch;
                letter-spacing: $typography-paragraph-dstext-md-letter-spacing;
                line-height: $typography-paragraph-dstext-md-line-height;
            }
        }
    }
}